streamlit
fastapi
uvicorn
python-dotenv
pydantic
pydantic-settings
langchain
langgraph
langchain-community
langchain-ollama
chromadb
faiss-cpu
sentence-transformers
wikipedia
arxiv
tavily-python
requests